<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <title>Drive Copier</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div class="container">
      <h3>Drive Copier</h3>
      <a class="waves-effect waves-light btn-large" id="authorize_button" onclick="">Sign in</a>

      <script src="/static/js/login.js"></script>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </div>
  </body>
</html>